<html>
<head>
  <title>Party Management | Manage parties</title>
 <% include partials/css %>
</head>
<body class="with-side-menu-addl-full chrome-browser"> 
	<header class="site-header">
		<% include partials/head %>	    
	</header>
	<div class="mobile-menu-left-overlay"></div>
	<nav class="side-menu">
		<% include partials/sidebar %>
	</nav>
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h5>MANAGE PARTIES</h5>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="#">Home</a></li>
								<li class="active">Manage Parties</li>								
							</ol>
							<div class="pull-right" style="margin-top:-6%;">
								<a style="display:none !important" href="/admin/AddNewParty" class="btn btn-primary" ><i class="fa fa-plus"></i> Add new</a>
							</div>
						</div>
					</div>
				</div>				
			</header>
			<section class="card">
				<div class="card-block">					
					<table id="example" class="display table table-bordered" cellspacing="0" width="100%" style="width: 100%;margin-top:1%;">
						<thead>
						<tr role="row">
							<th class="sorting_asc">Title</th>
							<th class="sorting_asc">Image</th>
							<th class="sorting_asc">Category</th>
							<th class="sorting">Duration(Hours)</th>
							<th class="sorting">Price($)</th>
							<th class="sorting">Location</th>
							<th class="sorting">Reviews</th>
							<th style="width:70px !important" class="sorting text-center">Actions</th>
						</tr>
						</thead>						
						<tbody>						
							<% for(var i=0;i<_p.length;i++){%>
								<tr>
									<td><%=_p[i].title %></td>
									<td><img src="<%=_p[i].getImageUrl() %>" height="50"></td>
									<td><%=_p[i].category.name %></td>
									<td><%=_p[i].duration %></td>
									<td><%=_p[i].price %></td>
									<td><%=_p[i].location %></td>
									<td><%=_p[i].reviews.length%></td>
									<td class="text-center">
										<a href="/admin/editPartyInfo/<%=_p[i]._id %>" title="Edit '<%=_p[i].title %>' Entry">
											<i class="fa fa-edit"></i>
										</a>&nbsp;|&nbsp;
										<a href="/admin/deletePartyInfo/<%=_p[i]._id %>" title="Delete '<%=_p[i].title %>' Entry">
											<i class="fa fa-remove"></i>
										</a>&nbsp;|&nbsp;
										<a href="/admin/ManageReviews/<%=_p[i]._id %>" title="Watch '<%=_p[i].title %>' Reviews">
											<i class="fa fa-star"></i>
										</a>
									</td>
								</tr>
							<%}%>
						</tbody>
					</table>					
				</div>
			</section>
		</div>
	</div>
	<% include partials/js %>
	<script>
		$(function() {
			$('#example').DataTable({
				responsive: true
			});
		});
	</script>
</body>
</html>