<!DOCTYPE html>

<html lang="en-US">
<head>
<title>Settings</title>
    <%- include('includes/head'); %>
</head>

<body>
<div class="page-wrapper">
    <%- include('includes/header'); %>
    <div id="page-content">
        <div class="container">
            <!--end breadcrumb-->
            <section class="page-title center">
                <h1>Your Profile</h1>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <form class="form inputs-underline" enctype="multipart/form-data" method="POST">
                            <section>
                                <div class="user-details box">
                                    <div class="user-image">
                                        <div class="image">
                                            <div class="bg-transfer"><img src="<%= user.getAvatarUrl() %>" alt=""></div>
                                            <!--end bg-transfer-->
                                            <div class="single-file-input">
                                                <input type="file" id="avatar" name="avatar">
                                                <div>Upload a picture<i class="fa fa-upload"></i></div>
                                            </div>
                                        </div>
                                        <!--end image-->

                                    </div>
                                    <!--end user-image-->
                                    <div class="description clearfix">
                                        <h3>Your current plan</h3>
                                        <h2>Listing Gold</h2>
                                        <a href="#" class="btn btn-default btn-rounded btn-xs">Change</a>
                                        <hr>
                                        <figure>
                                            <div class="pull-left"><strong>Next payment:</strong></div>
                                            <div class="pull-right">24/12/2015</div>
                                        </figure>
                                    </div>
                                    <!--end description-->
                                </div>
                            </section>
                            <!--end user-details-->
                            <section>
                                <h3>About You</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="<%= user.local.name %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <!-- <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="last_name">Last Name</label>
                                            <input type="text" class="form-control" name="last_name" id="last_name" value="Dogg">
                                        </div>
                                    </div> -->
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="<%= user.local.email %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="<%= user.local.phone %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                                <div class="form-group">
                                    <label for="about">About You</label>
                                    <textarea class="form-control" id="about" rows="2" name="about" placeholder="About"><%= user.local.about %></textarea>
                                </div>
                                <!--end form-group-->
                            </section>
                            <section>
                                <h3>Your Social Networks</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="facebook_url">Facebook</label>
                                            <input type="text" class="form-control" name="facebook_url" id="facebook_url" placeholder="Facebook" value="<%= user.local.facebook_url %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="twitter">Twitter</label>
                                            <input type="text" class="form-control" name="twitter_url" id="twitter_url" placeholder="Twitter" value="<%= user.local.twitter_url %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="pinterest">Pinterest</label>
                                            <input type="text" class="form-control" name="pinterest_url" id="pinterest_url" placeholder="Pinterest" value="<%= user.local.pinterest_url %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="youtube">Youtube</label>
                                            <input type="text" class="form-control" name="youtube_url" id="youtube_url" placeholder="Youtube" value="<%= user.local.youtube_url %>">
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end col-md-6-->
                                </div>
                                <!--end row-->
                            </section>
                            <section class="center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-rounded">Save Changes</button>
                                </div>
                                <!--end form-group-->
                            </section>
                        </form>
                        <!--end form-->
                        <hr>
                    </div>
                    <!--end col-md-6-->
                </div>
                <!--end row-->
            </section>
            <section>
                <section>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                            <h3 class="center">Change Your Password</h3>
                            <form class="form inputs-underline">
                                <div class="form-group">
                                    <label for="current_password">Current Password</label>
                                    <input type="password" class="form-control" name="current_password" id="current_password" value="******">
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="new_password">New Password</label>
                                    <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password">
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    <label for="confirm_new_password">Confirm New Password</label>
                                    <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm New Password">
                                </div>
                                <!--end form-group-->
                                <div class="form-group center">
                                    <button type="submit" class="btn btn-primary btn-framed btn-rounded btn-light-frame">Change Password</button>
                                </div>
                                <!--end form-group-->
                            </form>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
</div>

    <%- include('includes/foot'); %>

</body>

